<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<title>Bot 管理画面</title>

	<!-- ✅ Tabler UI CDN -->
	<link href="https://unpkg.com/@tabler/core@latest/dist/css/tabler.min.css" rel="stylesheet">
	<script src="https://unpkg.com/@tabler/core@latest/dist/js/tabler.min.js"></script>

	<!-- 共通スタイル -->
	<link rel="stylesheet" th:href="@{/css/base.css}" />
	<link rel="stylesheet" th:href="@{/css/navbar.css}" />

	<!-- ページ個別の追加スタイル -->
	<th:block layout:fragment="head-extra"></th:block>
</head>


<body>
	<!-- ナビゲーションバー -->
	<nav th:replace="~{fragments/navbar :: navbar}"></nav>


	<!-- メインコンテンツラッパー -->
	<main class="main-container">
		<div layout:fragment="content">
			<!-- 各ページの中身が差し込まれる -->
		</div>
	</main>
</body>

</html>