# === Java build ===
*.class

# === Log files ===
*.log

# === Eclipse ===
.project
.classpath
.env
.settings/
data/

# === Maven ===
target/

# === OS-specific ===
.DS_Store
Thumbs.db

# === Lombok generated config ===
lombok.config

# === IDE backups ===
*.bak
*.swp
*.tmp

# === VSCode (‚à‚µŽg‚Á‚Ä‚½‚ç) ===
.vscode/
